<h2>All Tasks</h2>
<div class="tasks-container">
  <% if @tasks.count != 0 %>
    <ul style="list-style-type: none;">
      <% @tasks.each do |task|  %>
        <li>
          <% if task.completed? %>
            <i class="fa-regular fa-square-check"></i>
          <% else %>
            <i class="fa-regular fa-square"></i>
          <% end %>
          <%= link_to task.title, task_path(task) %>
              <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= "No tasks found!" %>
  <% end %>

  <hr>
  <%= link_to new_task_path do %><i class="fa-solid fa-plus"></i> Add a task<% end %>
</div>
